.bannerlogo {
	background-color: white;
	padding: 20px 0px;
	background-size: cover;
	background-position: center;
	display: flex;
}

.bannerlogo img {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.65) 50%), url(../../images/background2.png);
	color: white;
	padding: 250px 0px;
	background-size: cover;
	background-position: center;
	border-radius: 6px;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}

.banner2 {
	background-color: black;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	color: black;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	margin: 20px 0px;
	border-radius: 6px;
}

.banner2 h2{
	color: white;
	text-align: center;
}

.banner2 p{
	color: white;
	text-align: center;
}

.banner3 {
	background-color: white;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	color: black;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	margin: 20px 0px;
	border-radius: 6px;
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/tech.jpg);
}

.banner3 h2{
	color: white;
	text-align: center;
	font-family: Calibri;
}

.banner3 p{
	color: white;
	text-align: center;
	font-family: Calibri;
}

.banner4 {
	background-color: white;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	color: black;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	margin: 20px 0px;
	border-radius: 6px;
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/tech2.jpg);
}

.banner4 h2{
	color: white;
	text-align: center;
	font-family: Calibri;
}

.banner4 p{
	color: white;
	text-align: center;
	font-family: Calibri;
}

.banner5 {
	background-color: white;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	color: black;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	margin: 20px 0px;
	border-radius: 6px;
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/tech3.jpg);
}

.banner5 h2{
	color: white;
	text-align: center;
	font-family: Calibri;
}

.banner5 p{
	color: white;
	text-align: center;
	font-family: Calibri;
}

.banner6 {
	background-color: black;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	color: black;
	background-size: cover;
	background-position: center;
	margin: 20px 0px;
	border-radius: 6px;
}

.banner6 h2{
	color: white;
	text-align: center;
	font-family: Calibri;
}

.banner6 p{
	color: white;
	text-align: center;
	font-family: Calibri;
}